/*-- scss:defaults --*/

/* font sizes */

.reveal .larger {
  font-size: 3em;
}

.reveal .large {
  font-size: 2em;
}

.reveal .slide .midi {
  font-size: 1.25em;
}

.reveal .small {
  font-size: 0.75em;
}